AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTHORIZED_GITHUB_USER_IDS=60959924

GITHUB_CONTENT_PAT=
GITHUB_REPOSITORY_OWNER=seungjun-green
GITHUB_REPOSITORY_NAME=personalWebsite
GITHUB_CONTENT_BRANCH=main

APP_ALLOWED_ORIGINS=http://localhost:3000,https://personal-website-drab-six-57.vercel.app
